// Imported styles
@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

// Component styles
@import "./components/Heading";

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
